<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Be the change you want to see in the world!!!</h1>
          <h2>Seja a mudança que você quer ver no mundo!!! </h2>
          <h3>Mahatma Gandhi</h3>
          <div>
            <a href="/cadastro"  class="btn-get-started scrollto">Cadastrar</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="assets/img/inicial.jpeg" class="img-fluid animated" alt="" width="500" height="400">
        </div>
      </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
            <img src="assets/img/ajuda.jpg" class="img-fluid" alt="" data-aos="zoom-in" width="650" height="550">
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0">
            <h3 data-aos="fade-up">Quem Somos</h3>
            <p data-aos="fade-up" data-aos-delay="100">
              Inspiradas no projeto Transforme-me do Seara Experian, em parceria com a Digital House, de estarem dispostos engajar o aumento do número de mulheres na área de desenvolvimento, disponibilizando seu tempo e recursos para ensinar e motivar 60 mulheres em um curso de web full stack. Voltamos nosso projeto integrador em prol de ajudar o próximo. Nosso objeito é conectar pessoas da comunidade LGBTQIA+ que precisam de ajuda, com aqueles que pulsão em seu coração a vontade de fazer a diferença no mundo ajudando ao próximo.
            </p>
            <div class="row">
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-receipt"></i>
                <h4>E que tal ajudar???</h4>
                <p>Se você é da área da saúde e tem dispobinilidade em ajudar, contamos com você para fazer parte desta rede de apoio!</p>
              </div>
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-cube-alt"></i>
                <h4>Está precisando de Ajuda?</h4>
                <p>Se você é da região de São Paulo, tem 18 anos ou mais e está precisando de ajuda, estamos aqui para te ajudar!!! Fique tranquilo que nossos profissionais são avaliados e estão de coração aberto para te ajudar.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Serviços</h2>
            <p>Como podemos te ajudar</p>
          </div>
  
          <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4 class="title"><a href="">Links Úteis</a></h4>
                <p class="description">Estaremos em busca das melhores informações/orientações que esse imenso mar tecnológico pode nos oferecer. Fique ligado, que estaremos postando sites parceiros que podem contribuir ou apoiam a comunidade LGBTQIA+.</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="title"><a href="">Auto Aceitação</a></h4>
                <p class="description">Sabemos que o processo de aceitação da orientação sexual, do seu corpo, do seu gênero a maioria das vezes não é fácil. Mas fique tranquilo, VOCÊ NÃO ESTÁ SOZINHO, vamos te conectar com um profissional disposto a te ouvir.</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4 class="title"><a href="">Aceitação Familiar</a></h4>
                <p class="description">Estamos no século XXI, entretanto a aceitação familiar continua sendo algo complicado. Fica tranquilo, estaremos contigo para te ajudar a criar confiança e compartilhar com quem você ama que  "é válido toda forma de amar".</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-world"></i></div>
                <h4 class="title"><a href="">Ameaças</a></h4>
                <p class="description">Infelizmente ainda não temos formas para acabar com as ameaças e visões distorcida que as pessoas possuem em relação as nossas escolhas, mas estaremos aqui para te ajudar a lidar com o sentimento que essas ameaças podem causar no seu coração. Ou mesmo, te orientar as formas de denuncia.</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Services Section -->
  
      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Links Úteis</h2>
            <p>Que tal conferir aqui o que separamos especialmente para você?</p>
          </div>
          <div class="links">
            <img src="assets/img/breve.jpg"  position="Center" margin-left=500px alt="" width="500" height="400">
          </div>
          </div>
  
      </section><!-- End Portfolio Section -->
  
      
  
      <!-- ======= Team Section ======= -->
      <section id="team" class="team">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2>Equipe</h2>
            <p>Conheça nossa Equipe</p>
          </div>
  
          <div class="row">
  
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
              <div class="member">
                <img src="assets/img/nati.jpg" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Natália Maria Ligabô</h4>
                    <span>Back-end</span>
                  </div>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
              <div class="member">
                <img src="assets/img/vivi.png" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Viviane Priscila de Souza</h4>
                    <span>Front-end</span>
                  </div>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
              <div class="member">
                <img src="assets/img/claudia.jpg" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Claudia de Almeida</h4>
                    <span>Apoio Back-end e Front-end</span>
                  </div>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
              <div class="member">
                <img src="assets/img/jhoni.png" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Ade Jhoni Vieira</h4>
                    <span>Fisioterapeuta</span>
                  </div>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Team Section -->
  
  
      <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Entre em Contatos</h2>
          <p>Estamos disponíveis para te ouvir.</p>
        </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Seu Nome</label>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nome Completo" required>
                </div>
                <div class="form-group col-md-6 mt-3 mt-md-0">
                  <label for="name">Seu E-mail</label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="exemplo@exemplo.com.br" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="name">Descrição</label>
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <label for="name">Messagem</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Sua Mensagem foi Enviada</div>
              </div>
              <div class="text-center"><button type="submit">Enviar Mensagem</button></div>
            </form>
          </div>

        </div>

    </section><!-- End Contact Us Section -->
  
    </main><!-- End #main -->
  
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
  
    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>